.App{
  text-align: center;
}

input {
  padding: 12px;
  margin-right: 10px;
}

button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: darkorange;

}

ul{
  list-style: none;
  padding: 0;
}

li{
  margin: 10px 0;
}

*{
  background-color: rgb(207, 225, 244);
}